.row > div{
    margin-bottom: 15px;
}
.header{
    min-height: 90px;
 
}
.footer{
    min-height: 60px;
}
.header, .footer{
    background: #2f2f2f;
}
.sidebar{
    background: #dbdfe5;
}
.intro{
    /* background: #7e8aa0; */
    min-height: 250px;
    position: relative;
    height: 850px;

}

.section{
    min-height: 150px;
    background: #dbdfe5;
}

.section.bg-alt{
    background: #b4bac0;
}

#hero-text {
    /* position: absolute; */
    z-index: 2;
    text-align: center;
    text-shadow: 0 0 1px #21252a;
}

.index_featured_artists_img {
    opacity: 0.8; 
    width: 100%;
}

/* #hero-text a {
    color: white;
    text-decoration: none;
    border: 1px white solid;
    width: 110px;
    height: 29px;
    display: block;
    background: #8080807d;
    margin-left: 90px;
} */

#hero-a-loggedout {
    color: white;
    text-decoration: none;
    border: 1px white solid;
    width: 110px;
    height: 29px;
    display: block;
    background: #8080807d;
    margin-left: 90px;
}

#hero-a-loggedin {
    color: white;
    text-decoration: none;
    border: 1px white solid;
    width: 110px;
    height: 29px;
    display: block;
    background: #8080807d;
    margin-left: 200px;
}

#index-hero {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    /* z-index: -1; */
}


#artist_name_index {
    font-weight: 300;
}