
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* body {
    color: white; 
    background-color: #201d20;
    text-align: center;
    margin: 80px;
    font-family: 'Roboto', sans-serif;
} */

.genre_div {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    font-size: 16pt;
}

.artist_background_color {
    background-color: #0f355c66;
}

#artist_name_index {
    font-weight: 300;
}

a {
    color: whitesmoke;
}

/* nav {
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 16pt;
} */

iframe {
    height: 200px;
    width: 80%;
    color: #000000;
}

.artist_music_bio {
    margin-top: 40px;
}


#all_artist_info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    position: relative;
}


#artist_header {
    /* background-image: url(https://cdn.pixabay.com/photo/2019/09/19/20/24/city-4490237_1280.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2022/01/02/19/43/train-6910973_1280.jpg); */
    grid-column: 1 / span 2;
    display: flex;
    justify-content: start;
    gap: 115px;
    align-items: center;
    /* margin: 10px 100px; */
    text-align: left;
    color: white;
    font-weight: 900;
    font-size: 18pt;
    text-shadow: 0 0 8px black;
    /* position: absolute; */
}

#artist_profile_photo {
    z-index: 2;
    width: 13%;
    /* border: 1px solid #c13c32; */
    /* border: 1px solid white; */
    border-radius: 50%;
    background: black;
    margin-left: 50px;
    display: inline-block;

}

#artist_profile_nophoto {
    z-index: 2;
    width: 13%;
    /* border: 1px solid #c13c32; */
    /* border: 1px solid white; */
    border-radius: 50%;
    background: white;
    margin-left: 50px;
    display: inline-block;

}

/* 
#artist_about h4{
    margin-left: 50px;
    text-align: left;
} */

#artist_music {
    margin-left: 120px;
    text-align: left;
}

#artist_background_photo {
    z-index: 0;
    opacity: 0.3;
    position: absolute;
    width: 90%;
    height: 260px;
    margin-left: -50px; 

/* 
    width: 100%;
    margin-left: -140px; 
*/

}


#artist_background_nophoto {
    z-index: 0;
    opacity: 0.3;
    position: absolute;
    width: 90%;
    height: 180px;
}

.artist_list_div {
    background-color: #23252a;
    width: 80%;
    max-width: 600px;
    gap: 200px;
    font-size: 18pt;
    margin-top: 15px;
    border-radius: 15px;
    max-width: 1150px;
    background-color: #114646e6;
}

.artist_list_div h4 {
    font-size: 3vmin;
}

.artist_list_div:nth-child(2n) {
    
    background-color: #79136cb3;
}


.artist_list_inner {
    /* background-color: #065353; */
    /* background-color: #114646e6; */
    color: #d4d4d4;
    height: 180px;
    width:100%;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.artist_list_inner:hover {
    color: #1f1c1c;
}

.artist_list_name_genre {
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.artist_list_img {
    height: 100%;
    border-radius: 0px 15px 15px 0px;
}

.artist_list_noimg {
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.artist_list_a {
    width: 15%;
}

.artist_list_all {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}    

#artist_header_info {
    z-index: 2;
}

.artist_list_genres {

    display: flex;
    gap: 10px;
    font-size: 15px;
}