body {
    color: white; 
    background-color: black;
    text-align: center;
}

.genre_div {
    display: flex;
    justify-content: center;
    gap: 50px;
}

a {
    color: whitesmoke;
    box-shadow: rgba(255, 0, 0, 0.573) 5px 5px 5px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 80px;
}

iframe {
    height: 200px;
    width: 60%;
    color: #000000;
}