{% extends "base.html" %}

{% block content %}

<h1>Select genres you play</h1>
<div>
    <form action="/add_genres_action" method="POST">
        <label for="genres"><input type="checkbox" name="genres" value="Techno">Techno</label><br>
        <label for="genres"><input type="checkbox" name="genres" value="Disco">Disco</label><br>
        <label for="genres"><input type="checkbox" name="genres" value="DnB">DnB</label><br>  
        <label for="genres"><input type="checkbox" name="genres" value="House">House</label><br>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}
