{% extends 'base.html' %}

{% block content %}


{% for artist in artist_list_response %}

<div class = 'artist_list_div'>
   <a href = '/artist?id={{ artist.user_id }}'><h4>{{ artist.name }}</h4>
    <div class = 'artist_list_genres'>

    {# Append genres of artist if the genres table matches users table user_id #}

    {% for genre_list in genre_list_response %}
        {% if genre_list.user_id == artist.user_id %}
            <p>{{ genre_list.genre_name }}</p>
        {% endif %}
    {% endfor %}
    </div>      
   
    {% if artist.profile_photo_url %}
   <a class = 'artist_list_a' href = '/artist?id={{ artist.user_id }}'><img class = 'artist_list_img' src="{{ artist.profile_photo_url }}"></img></a>

   {% else %}
   <a class = 'artist_list_a' href = '/artist?id={{ artist.user_id }}'><img class = 'artist_list_noimg' src="static/img/headphones-1.png"></img></a>

   {% endif %}

</div>

{% endfor %}

{% endblock %}