{% extends 'base.html' %}

{% block content %}

{% if current_user == 'yep' %}

<h1>Welcome to your page</h1>
<a href="/complete_profile">Complete profile</a><br>
<a href="/add_soundcloud">Add a track from Soundcloud</a>

{% endif %}

<section id = 'all_artist_info'>

<section id = 'artist_header'>

<img id="artist_background_photo" src="{{ results[7] }}">

<img id="artist_profile_photo" src="{{ results[6] }}">

<div id="artist_header_info">

<h1>Artist name: {{ results[2] }}</h1>

<p>Location: {{ results[3] }}</p>

{% if genres %}

<h2>Genres:</h2>
<div class="genre_div">
{% for genre in genres %}
<h3 class="genre_list">{{ genre[0] }}</h3>
{% endfor %}
</div>

{% endif %}



</div>
</section>


<section id="artist_music">

    <h4>Artist music</h4>

    {#
    {% if iframe %}
    
    {{ iframe|safe }}<br><br>
    
    {% endif %}
    
    #}
    
    {% if iframe_list %}
    
    {% for item in iframe_list %}
    {{ item|safe }}<br><br>
    {% endfor %}
    
    {% endif %}
    
    </section>

<aside id = 'artist_about'>

    <h4>About {{ results[2] }}</h4>

<a href="{{ results[7] }}">Soundcloud Link</a>
<a href="{{ results[8] }}">Facebook Link</a>
<p>Bio: {{ results[4] }}</p>

<p>Email: {{ results[5] }}</p>

</aside>

{# <iframe id="track" width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/249593158&amp;color=000000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe> #}



</section>

{% endblock %}