{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <script defer src="script.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flyre</title>
</head>

{% endblock %}



{% block heading %}
{% if username %}
<h1>Welcome to Flyre {{ username }}</h1>
<a href="/logout">Log Out</a>

{% else %}

<h2>Welcome to Flyre</h2>
<a href="/login">Log-in here</a>
<a href="/register">Create an account</a>

{% endif %}

{% endblock %}


{% block content %}
{% endblock %}


{% block footer %}
<br><br><br>
<footer>D McGee 2022</footer>

</body>
</html>
{% endblock %}