{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <script defer src="static/script.js"></script>
    <script defer src="static/scapi.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flyre</title>
</head>

{% endblock %}



{% block heading %}
{% if session.get('name') %}

<nav>
<a href="/">Home</a>
<a href="/artist?id={{ session.get('id') }}">Your Page</a>
<a href="/logout">Logout</a>
</nav>



{% else %}

<nav>
<a href="/">Home</a>
<a href="/login">Login</a>
<a href="/register">Register</a>
</nav>


{% endif %}

{% endblock %}


{% block content %}
{% endblock %}


{% block footer %}
<br><br><br>
<footer>D McGee 2022</footer>

</body>
</html>
{% endblock %}