{% extends "base.html" %}

{% block content %}

<h1>Complete your profile</h1>
<div>
    <form action="/complete_profile_action" method="POST">
        Location: <input type="text" name="location" required><br><br>
        Bio: <input type="text" name="bio" required><br><br>
        URL of profile photo: <input type="text" name="profile_photo_url"><br><br>
        URL of Soundcloud: <input type="text" name="soundcloud_url"><br><br>
        URL of Facebook: <input type="text" name="facebook_url"><br><br>
        Artist?: <input type="text" name="user_type" value="artist">
        <input type="submit" value="Submit">

    </form>
</div>


{% endblock %}
