{% extends "base.html" %}


{% block content %}
      
      {% if session.get('name') %}
      <div class="container-fluid bg-dark text-white">
        <div class="row">
            <div class="col-12 intro relative">
                <div id="hero-text" class="position-absolute top-50 start-50 translate-middle">
                    <h1>Welcome to Flyre <span id = 'artist_name_index'>{{ username }}</span></h1>
                    <p>Connecting local talent with local events</p>
                    <a id = "hero-a-loggedin" href="/artist_list">Artist List</a>
                </div>
                <div>
                    <img id="index-hero" src="../static/img/hero-test-sml.jpg">
                </div>
                </div>
            </div>
        </div>

        {% else %}

        <div class="container-fluid bg-dark text-white">

        <div class="row">
          <div class="col-12 intro relative">
              <div id="hero-text" class="position-absolute top-50 start-50 translate-middle">
                  <h1>Flyre</h1>
                  <p>Connecting local talent with local events</p>
                  <a id = "hero-a-loggedout" href="/artist_list">Artist List</a>
              </div>
              <div>
                  <img id="index-hero" class="img-fluid" src="../static/img/hero-test-sml.jpg">
              </div>
              </div>
          </div>
      </div>
      {% endif %}
      <div class="container-fluid bg-dark text-white">

      <div class="row" id="index_featured_artists">
        <div id="featured_artists_h" class="col-md-12">
          <h4>Featured Artists</h4>
        </div>



      {% for i in range(0, 4) %}

      <div class="col-sm-3">
        
        <div class="card border-light text-white bg-dark mb-3">
          <a class="arist_links" href="/artist?id={{ results[i][0] }}">
          <img class="index_featured_artists_img" src="{{ results[i][6] }}" class="card-img-top" alt="...">
        </a>
          <div class="card-header">{{ results[i][2] }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ results[i][2] }}</h5>
            <p class="card-text">{{ results[i][4] }}</p>
          </div>
        
        </div>
      </div>
      {% endfor %}


      {% endblock %}

</body>
</html>